<body class="contenedor_general">
    <div class="contenedor_filtros">
        <aside class="filtros">
            <p *ngFor="let m of arregloMarcas">
                <input name="marca" value="{{m.nombre}}" type="radio">
                <span> {{m.nombre}} </span>

            </p>
        </aside>
    </div>

    <div class="contenedor_productos ">

        <div class="productos">

            <app-tarjetas-productos [producto]="producto" [index]="i" *ngFor="let producto of arregloProductos; let i = index"></app-tarjetas-productos>

        </div>
    </div>
</body>