<body class="contenedor_general">
    <div class="contenedor_filtros">

        <aside class="filtros">

            <h4> Filtrar por:</h4>
            <p>Marca:</p>
            <select class="fullWidth" #marca (change)='setMarca(marca.value)'>
                <option></option>
                <option *ngFor="let m of arregloMarcas" [value]="m._id">
                    {{m.nombre}}
                </option>
            </select>
            <p></p>
            <p>Categoria:</p>
            <select class="fullWidth" #categoria (change)='setCategoria(categoria.value)'>
                <option></option>
                <option *ngFor="let c of arregloCategorias" [value]="c._id">
                    {{c.nombre}}  
                </option>
            </select>
            <p></p>
            <button class="btn_Filtros fullWidth" (click)="aplicarFiltros()">Enviar</button>

        </aside>
    </div>

    <div class="contenedor_productos ">

        <div class="productos">

            <app-tarjetas-productos [producto]="producto" [index]="i" *ngFor="let producto of arregloProductos; let i = index"></app-tarjetas-productos>

        </div>

        <div class="paginacion">
            <ul *ngFor="let numeroPagina of arregloPaginas;" (click)="aplicarFiltros(numeroPagina)">
                <li value="{{numeroPagina}}">
                    {{numeroPagina}}
                </li>
            </ul>


        </div>

    </div>
</body>