<body class="contenedor_general">
    <div class="contenedor_filtros">
        <aside class="filtros">

            <p *ngFor="let m of marcas">
                <input name="marca" value="{{m.nombre}}" type="radio">
                <span>{{m.nombre}} </span>

            </p>
            <!--             <h6>Filtrar por:</h6>
            <p *ngFor="let marca of marcas">
                <input type="radio" name="marca"> {{marca.nombre}}<br>
            </p> -->
        </aside>
    </div>

    <div class="contenedor_productos ">

        <div class="productos">

            <app-tarjetas-productos [producto]="producto" [index]="i" *ngFor="let producto of productos; let i = index"></app-tarjetas-productos>

        </div>

    </div>

    <div class="contenedor_footer">

    </div>

</body>