.zhin {
    z-index: 20000;
}

.contenedor_general {
    background: radial-gradient(circle, #fff, #bbb);
    position: relative;
    width: 100%;
    /* height: 900px; */
}

.pro-tech-full-height {
    height: 100vh;
    max-height: 1500px;
}

.contenedor_filtros {
    display: block;
    position: fixed;
    width: 200px;
    /*     height: 50%; */
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1000;
}

.contenedor_productos {
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    padding-top: 25px;
    /*     min-height: 100%;
    max-height: auto; */
    z-index: 900;
}

.filtros {
    display: block;
    padding: 18px 15px;
    border: 4px solid grey;
    border-color: grey;
    width: 95%;
    height: 75%;
}

.productos {
    padding-left: 200px;
    /* padding-right: 120px; */
    border-color: grey;
    width: 100%;
}

.productos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: auto;
}

.paginacion {
    padding-left: 260px;
}

.paginacion ul {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 10px 20px;
    margin: 15px;
    color: #fff;
    background-color: #1A2A40;
}

.paginacion ul:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .contenedor_filtros,
    .contenedor_productos,
    .productos,
    .filtros,
    .paginacion {
        display: block;
        position: static;
        padding: 5px;
        width: 100%;
    }
}