<div>
  <img src="assets/img/comocomprar.png" alt="" class="imagen">
</div>
<div class="container">
  <div class="main-container">
    <div class="logo">
      <img src="assets/img/comprar.png" alt="" class="imagen" >
    </div>
    <div class="container_instructions">
      <div class="container_instructions-items">
        <h6>| Pasos para realizar tu compra </h6>
      </div>
      <div class="container_instructions-items">
        <h6>| 1. Selecciona el producto que deseas </h6>
      </div>
      <div class="container_instructions-items">
        <h6>| 2. Agrega el producto al carrito de compra </h6>
      </div>
      <div class="container_instructions-items">
        <h6>| 3. Ingresa tus datos para la entrega </h6>
      </div>
      <div class="container_instructions-items">
        <h6>| 4. Confirma tu compra </h6>
      </div>
      <div class="container_instructions-items">
        <h6>| 5. La entrega se realiza en 1 o 2 dias habiles </h6>
      </div>
      <div class="container_instructions-items">
        <h6>| 6. Pagas el total al momento de recibir tu compra </h6>
      </div>
    </div>
  </div>
</div>
