<body>
    <div class="modal-dialog text-center">
      <div class="col-sm-8 main-section">
        <div class="modal-content">
          <div style="color:#FFFFFF;" class="col-12 user-img" >
            <h3 >Registro</h3>
          </div>
          <form class="col-12">
            <div class="form-group" id="name-group">
                <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="form-group" id="user-group">
              <input type="password" class="form-control" placeholder="Usuario">  
          </div>
          <div class="form-group" id="correo-group">
            <input type="text" class="form-control" placeholder="Correo electronico">
          </div>
        <div class="form-group" id="contraseña-group">
          <input type="password" class="form-control" placeholder="Contraseña">  
        </div>
          <div class="col-12 forgot">
            <a href="#">¿olvidaste tu contraseña?</a>
          </div  >
          <button type="submit" class="btn btn-dark btn-lg btn-block" >Registrarse</button>
          </form>
          <div class="col-12 margenboton" >
              <h1></h1>
          </div>
  
        </div>
  
      </div>
    </div>
  </body>