<div class="modal-header">
  <h4 class="modal-title">Registro</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form action="">
    <div class="form-group">
      <label for="nombre">Nombre *</label>
      <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
    </div>
    <div class="form-group">
      <label for="email">Correo Electronico *</label>
      <input type="email" class="form-control" id="email" placeholder="Ingrese su correo">
    </div>
    <div class="form-group">
      <label for="telefono">Telefono</label>
      <input type="text" class="form-control" id="telefono" placeholder="Ingrese su telefono">
    </div>
    <div class="form-group">
      <label for="direccion">Direccion *</label>
      <input type="text" class="form-control" id="direccion" placeholder="Ingrese su direccion">
    </div>
    <div class="form-group">
      <label for="nit">Nit</label>
      <input type="text" class="form-control" id="nit" placeholder="Ingrese su nit">
    </div>
    <div class="form-group">
      <label for="usuario">Usuario *</label>
      <input type="text" class="form-control" id="usuario" placeholder="Ingrese su usuario">
    </div>
    <div class="form-group">
      <label for="password1">Contraseña *</label>
     <input type="password" class="form-control" id="password1" placeholder="Ingrese su contraseña">
    </div>
    <div class="form-group">
      <label for="password2">Confirmar Contraseña</label>
     <input type="password" class="form-control" id="password2" placeholder="Confirme su contraseña">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Close click')">Cancelar</button>
  <button type="button" class="btn btn-btnsave">Registrarse</button>
</div>
