<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="centrar">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img [src]="obtenerImagenPrincipal()" class="fijarTarjetaGrande responsive-tarjetaGrande">
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 responsive-tarjetaPequena">
                    <div class="card">
                        <img (click)="asignarRuta(0)" [src]="retornarRuta(0)" class="fijarTarjetaPequena">
                    </div>
                </div>
                <div class="col-md-4 responsive-tarjetaPequena">
                    <div class="card">
                        <img (click)="asignarRuta(1)" [src]="retornarRuta(1)" class="fijarTarjetaPequena">
                    </div>
                </div>
                <div class="col-md-4 responsive-tarjetaPequena">
                    <div class="card">
                        <img (click)="asignarRuta(2)" [src]="retornarRuta(2)" class="fijarTarjetaPequena">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 offset-md-1">
            <h4>{{ producto.nombre }}</h4>
            <br>
            <h4>Precio: {{ producto.precio | currency:'Q ' }} </h4>
            <br>
            <h5>Cantidad: &nbsp;</h5>
            <div class="input-group">
                <button class="colorBoton" style="width:30px;" type="button" (click)="manipularContador(0)" class="btn btn-dark btn-sm">-</button>
                <input class="gris" style="width:70px;" id="cantidad" [(ngModel)]="numero" type="text" readonly value=" {{ numero }}">
                <button class="colorBoton" style="width:30px;" type="button " (click)="manipularContador(1)" class="btn btn-dark btn-sm">+</button>
            </div>
            <br>
            <button *ngIf="numero > 0" class="azul" type="button" class="btn btn-dark button-big" data-toggle="modal" data-target="#myModal" (click)="setCantidad()">
                &nbsp;&nbsp;Comprar&nbsp;&nbsp;</button>
            <button *ngIf="numero == 0" class="azul" type="button" class="btn btn-dark button-big" data-toggle="modal" data-target="#myModal" (click)="setCantidad()" disabled>
                &nbsp;&nbsp;Comprar&nbsp;&nbsp;</button>
        </div>
    </div>

    <br>
    <br>

    <div class="especificaciones">
        <ul class="list-group ">
            <b>Especificaciones:</b>
            <li class="list-group-item " *ngFor="let especificacion of especificaciones">{{ especificacion }}</li>
        </ul>
    </div>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirme su compra para continuar.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button [routerLink]="['/carritocompra', producto.id, numero]" routerLinkActive="router-link-active" type="button" class="btn btn-danger" data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>