.gris {
    color: #707070
}

.centrar {
    width: 83%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    display: block;
}

.especificaciones {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.fijarTarjetaGrande {
    width: 100%;
    object-fit: cover;
}

.fijarTarjetaPequena {
    width: 100%;
    object-fit: cover;
}

h5 {
    color: green;
}

@media (max-width: 760px) {
    .responsive-tarjetaPequena {
        width: 33%;
        margin-bottom: 30px;
    }
}