<div class="container-fluid" style="margin-bottom: 60px;">
    <div class="row">
        <div class="container-fluid" class="col-5">
            <div class="card">
                <h3 style="background-color: #1a2a40; color: white; text-align: center; margin: 0%;">Historial del cliente</h3>
               <ul class="list-group " >
                    <li class="list-group-item" onclick="alert(' Actualiza la tabla')">  historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</li>
                    <li class="list-group-item" onclick="alert(' Actualiza la tabla')">  historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</li>
                    <li class="list-group-item" onclick="alert(' Actualiza la tabla')">  historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</li>
                    <button type="button" class="list-group-item list-group-item-action"> historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</button>
                    <button type="button" class="list-group-item list-group-item-action">  historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</button>
                    <button type="button" class="list-group-item list-group-item-action">  historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</button>
                    <button type="button" class="list-group-item list-group-item-action"> historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</button>
                    <button type="button" class="list-group-item list-group-item-action">  historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</button>
                    <button type="button" class="list-group-item list-group-item-action">  historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</button>
                    <button type="button" class="list-group-item list-group-item-action"> historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</button>
                    <button type="button" class="list-group-item list-group-item-action">  historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</button>
                    <button type="button" class="list-group-item list-group-item-action">  historial <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo saepe totam sunt esse omnis enim odio qui minima illo vel nam</button>

               </ul>
            </div>
        </div>
        <div class="container-fluid" class="col-7" style="margin-top: 60px;">

            <table class="table table-hover">
                <thead style="background-color: #1a2a40; color: white;">
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Sujeto 1</th>
                        <th>99/99/9999</th>
                        <th>Q99,999.99</th>
                    </tr>
                </tbody>
            </table>

            <table class="table table-hover">
                <thead style="background-color: #1a2a40; color: white;">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Descuento</th>
                      <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Producto </td>
                      <td>2</td>
                      <td>No aplica</td>
                      <td>Q.300.00</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Producto </td>
                        <td>2</td>
                        <td>No aplica</td>
                        <td>Q.300.00</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Producto </td>
                        <td>2</td>
                        <td>No aplica</td>
                        <td>Q.300.00</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Producto </td>
                        <td>2</td>
                        <td>No aplica</td>
                        <td>Q.300.00</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Producto </td>
                        <td>2</td>
                        <td>No aplica</td>
                        <td>Q.300.00</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Producto </td>
                        <td>2</td>
                        <td>No aplica</td>
                        <td>Q.300.00</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Producto </td>
                        <td>2</td>
                        <td>No aplica</td>
                        <td>Q.300.00</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Producto </td>
                        <td>2</td>
                        <td>No aplica</td>
                        <td>Q.300.00</td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>Producto </td>
                        <td>2</td>
                        <td>No aplica</td>
                        <td>Q.300.00</td>
                      </tr>
                  </tbody>
            </table>

        </div>

    </div>
</div>
