<div class="container-fluid" style="margin-bottom: 60px;">
    <div class="row">
        <div class="container-fluid" class="col-5">
            <div class="card">
                <h3 style="background-color: #1a2a40; color: white; text-align: center; margin: 0%;">Historial del cliente</h3>
               <ul class="list-group" *ngFor="let item of HistorialCompras" >
                    <li class="list-group-item" onclick="alert(' Actualiza la tabla')">  historial <br> {{item.compra}} <br> {{item.precio}}</li>
                                        
               </ul>
            </div>
        </div>
        <div class="container-fluid" class="col-7" style="margin-top: 60px;">

            <table class="table table-hover">
                <thead style="background-color: #1a2a40; color: white;">
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{DetalleEnvio.nombre}}</th>
                        <th>{{DetalleEnvio.Fecha}}</th>
                        <th>{{DetalleEnvio.total}}</th>
                    </tr>
                </tbody>
            </table>

            <table class="table table-hover">
                <thead style="background-color: #1a2a40; color: white;">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Descuento</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody *ngFor="let DetalleProducto of DetalleCompra">
                    <tr>
                      <th scope="row">1</th>
                      <td>{{DetalleProducto.descripcion}} </td>
                      <td>{{DetalleProducto.cantidad}}</td>
                      <td>{{DetalleProducto.descuento}}</td>
                      <td>{{DetalleProducto.precio}}</td>
                      <td>Q.{{DetalleProducto.subtotal}}.</td>
                    </tr>  
                </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>TOTAL</th>
                    <td>Q1000</td>
                  </tr>
                </tfoot>
            </table>
            <table class="table table-hover">
              <thead  style="background-color: #1a2a40; color: white;">
                <tr>
                  <th> Direccion </th>
                  <th> Anotacion </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Aqui va la Direccion</td>
                  <td>Aqui va la Anotacion</td>
                </tr>
              </tbody>
            </table> 
        </div>

    </div>
</div>
