.card{
    margin-top: 60px;
    border-color: #000000;
    margin-bottom: 40px;
}
.list-group{
    max-height: 630px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.factura{
    padding: 4% 4%;
    display: inline;
    border: solid 1px black;
    border-radius: 15px 50px;
    margin-top: 10px;
    text-align: justify;
    background-color: #1a2a40;
    color: white;
    font-size: 1vw;
}

.alert{
    margin-top: 30px;
    background-color: #1a2a40;
    color: white;

}
.col-3{
    border: 1px solid;
    text-align: center;
    border-color: #1a2a40;
}
.col-9{
    border-right: 1px solid;
    
    text-align: center;
    border-color: white;
}
.contenedor-facturas{
    overflow: auto;
    height: 530px;
}
.container-fluid{
    width: 50%;
    margin-right: 10%;
}
.container-fluid-2{
    width: 100%;
}
.titulo{
    background-color: #1a2a40;
    color: white;
    text-align: center;
}
.container{
    display: inline-flex;
    margin: 0% 10%;
    padding: 5% 1%;
    width: 100%;
}
.table-hover{
    border: 1px #000000 solid;
}
@media(max-width:63em){
    .container{
        display: inline-block;
        margin: 0% 0%;
    }
    .table-hover tr{
        display: flex;
        flex-direction: column;
        padding: 1em;
        width: 100%;
    }
    .table-hover{
        width: 100%;
        display: inline-block;
        
        
    }
    .table-hover thead{
        display: none;
    }
    .table-hover thead[data-titulos]{
        background-color: brown;
    }
    .table-hover thead[data-titulos]::before{
        content: attr(data-titulos);
    }
    .table-hover td[data-titulo]{
        display: inline-block;
        font-size: 3vw;
        background-color:  #1a2a40;
        color: white;
    }
    .table-hover td[data-titulo]::before{
        content: attr(data-titulo);
        width: 100px;
        margin-right: 10px;
        font-size: 3vw;

    }
    .titulo{
        font-size: 4vw;
    }
    .contenedor-facturas{
        width: 100%;
    }

    .container-fluid{
        width: 100%;
    }
    .espacio{
        display: none;
    }
    .factura{
        width: 100%;
        padding: 4% 4%;
        display: inline;
        border: solid 1px black;
        border-radius: 15px 50px;
        margin-top: 10px;
        text-align: justify;
        background-color: #1a2a40;
        color: white;
        font-size: 3vw;
    }
    .container-fluid-2{
        margin-top: 30px;
        border-top: black 10px solid;

    }
    .container-fluid-2::before{
        content: "DETALLE DE FACTURA";
        font-weight: bold;
    }
    .tit::before{
        content: "DETALLE";
        font-weight: bold;
        text-align: center;
    }


}

