<div class="container alto">
  <div class="container-formulario">
    <div class="container_title">
      <h5>Contacto</h5>
    </div>
    <form action="">
      <input type="text" class="input" placeholder="Nombre">
      <input type="text" class="input" placeholder="Telefono">
      <input type="text" class="input" placeholder="Correo">
      <textarea name="" id="" cols="30" rows="10" placeholder="Comentarios"></textarea>
      <button class="button">Enviar mensaje </button>
    </form>
  </div>
</div>
