<div class="img-container">
    <div class="inner-container">
        <h1>Pro-tech</h1>
        <h3>Te suministramos de tecnología para simplificar y alegrar tu vida </h3>
    </div>
</div>
<div class="container">
    <div class="text-center" style="margin-top: 100px;">
        <h2>¿Quiénes somos?</h2>
        <br>
        <p>
            Somos una empresa que se dedica a ofrecer productos tecnológicos de primera calidad, otorgando la disponibilidad de recursos variados, teniendo en cuenta las inmediatas necesidades que el cliente quiere satisfacer con la compra de dichos productos. Esta
            empresa fue emprendida por estudiantes de ingeniería en informática y sistemas que tienen el sueño de emprender una empresa que pueda otorgar lo que el cliente busca: productos de calidad, a buen precio y que sepan cumplir con sus espectativas.
            Estos estudiantes están conscientes que actualmente la tecnología efectúa un impacto importante en la rutina diaria de las personas, siendo prácticamente indispensable contar con productos de calidad que sepan cumplir a cabalidad con las necesidades
            de los clientes.
        </p>

    </div>
    <div class="img_content">
        <h2 class="text-center">Marcas con las que trabajamos</h2>
        <div class="img_content-items">
            <img src="assets/img/hp.jpg" alt="hp">
            <img src="assets/img/amd.png" alt="amd">
            <img src="assets/img/logitech.jpg" alt="logitech">
            <img src="assets/img/nvidia.png" alt="nvidia">
        </div>
    </div>
</div>