<div class="landing">
  <div class="home-wrap">
    <div class="home-inner">
    </div>
  </div>
</div>

<div class="caption text-center">
  <h1>Pro-tech</h1>
  <h3>Te suministramos de tecnología para simplificar y alegrar tu vida</h3>
</div>

<div class="container">
  <div class="text-center">
    <h2>¿Quienes somos?</h2>
    <br>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
      by injected humour, or randomised words which don't look even slightly believable.
      If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
      anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to
      repeat predefined chunks as necessary, making this the first true generator on the Internet.
      It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
      to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
      injected humour, or non-characteristic words etc.
    </p>

  </div>

  <div class="img_content">
    <h2 class="text-center">Marcas con las que trabajamos</h2>
    <div class="img_content-items">
        <img src="assets/hp.jpg">
        <img src="assets/hp.jpg">
        <img src="assets/hp.jpg">
        <img src="assets/hp.jpg">
    </div>
  </div>
</div>
