body{
    background-size: cover;
}
.main-section{
    margin:0 auto ;
    margin-top: 40% ;
    padding: 0;
    border-top-right-radius: 0%;
    box-shadow: 0px 0px 3px #454545;
} 
.user-img{
    background-color:#070c2d;
    margin-bottom: 35px;
    margin-top: -0px;
    border-radius: 50;
    width: 400px;
    height: 100px;
    font-size: 19px;
}
.forgot{
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 60px;
}
.margenboton{
    margin-top: 10px;
 margin-bottom: 60px;
 margin-left: 25px;
}
.btn-dark{
    background-color: #070c2d;
}
.modal-content{
    box-shadow: 0px 0px 3px #aaaaaa;
}
.form-group input{
    height: 42px;
    font-size: 20px ;
}
