<div class="container">
    <h1>Reportes ventas <small>Ingrese fechas</small></h1>
    <hr>


</div>

<div>
    <div class="centrado" style="margin-bottom: 0;">
        <form method="GET">
            <label for="de" class="colorBlue" style="padding-right: 5px; padding-top: 4px;"> <h5>De:</h5> </label>
            <input type="date" class="form-control inp" placeholder="dd/mm/yyyy" id="date1">

            <label for="a" class="colorBlue" style="padding-right: 5px; padding-left: 15px; padding-top: 4px;"><h5>A:</h5></label>
            <input type="date" class="form-control inp" placeholder="dd/mm/yyyy" id="date2">


            <button type="button" class="btn boton" id="buscar"> Buscar </button>
        </form>
    </div>
</div>

<!-- <div class="row" style="text-align: center;">
    <div class="col-sm">
        <h4>Fecha inicio: </h4>
        <input type="date">
    </div>
    <div class="col-sm">
        <h4>Fecha final: </h4>
        <input type="date">
    </div>
    <div class="col-sm">
        <button class="btn_Filtros fullWidth">Enviar</button>
    </div>
</div> -->




<div class="container-fluid">

    <main role="main" class="col-md-9  col-lg-12 px-4 ">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Gráficos</h1>
        </div>
        <div class="chart-wrapper">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
              </canvas>
        </div>
        <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
        <hr>

        <div class="row" style="text-align: center;">
            <div class="col-sm">
                <h4> <b>Marca: </b> </h4>
                <canvas baseChart [data]="pieChartDataMarcas" [labels]="pieChartLabelsMarcas" [chartType]="pieChartTypeMarcas" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                    </canvas>
            </div>
            <div class="col-sm">
                <h4> <b>Categoría: </b> </h4>
                <canvas baseChart [data]="pieChartDataCategorias" [labels]="pieChartLabelsCategorias" [chartType]="pieChartTypeCategorias" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                    </canvas>
            </div>
        </div>
        <br>

    </main>

</div>



<!-- 
<div class="row">
    <div class="col-sm">
        <div class="flex">
            <div class="flex-item">
                <div style="display: block;" class="cuadro">
                    <canvas baseChart width="900px" height="450px" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm">
        <div class="flex-item">
            <table class="table table-responsive table-condensed">
                <tr>
                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                </tr>
                <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                    <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                </tr>
            </table>
            <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
            <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
            <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
            <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
            <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
        </div>
    </div>
</div> -->