<div class="container">
    <h1>Reportes ventas <small>Ingrese fechas</small></h1>
    <hr>
</div>

<div>
    <div class="centrado" style="margin-bottom: 0;">
        <form method="GET">
            <label for="de" class="colorBlue" style="padding-right: 5px; padding-top: 4px;"> <h5>De:</h5> </label>
            <input type="date" class="form-control inp" placeholder="dd/mm/yyyy" id="date1">

            <label for="a" class="colorBlue" style="padding-right: 5px; padding-left: 15px; padding-top: 4px;"><h5>A:</h5></label>
            <input type="date" class="form-control inp" placeholder="dd/mm/yyyy" id="date2">


            <button type="button" class="btn boton" id="buscar" (click)="obtener()"> Buscar </button>
        </form>
    </div>
</div>

<div class="grafica">
    <div class="container-fluid esquerda">

        <main role="main" class="col-md-9  col-lg-12 px-4 ">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Gráficos</h1>
            </div>
            <div class="chart-wrapper">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
              </canvas>
            </div>
            <br>
        </main>
    </div>
</div>