<div class="header_main">
  <div class="header_main-top">
    <ul class="header_main-list">
      <li>
        <a (click)="open()">Inicia Sesión</a>
      </li>
      <li>
        <a href="#">Registrarse</a>
      </li>
    </ul>
  </div>
  <div class="header_main-bottom">
    <div class="header_main-container">
      <div class="header_main_logo">
        <a [routerLink]="['/home']" class="logo">
          <img src="assets/img/image.png" alt="">
        </a>
      </div>
      <div class="header_main-search">
        <form action="">
          <input type="search" placeholder="Buscar" class="input">
        </form>
        <i class="fas fa-search logo-buscar"></i>
      </div>
      <div class="header_carrito_main">
        <div class="header_carrito">
            <a href="#" class="header_carrito-logo"></a>
            <h5>0</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg  navbar-custom ">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler  custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav justify-content-between w-100">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div *ngFor="let categoria of categorias;">
                <a class="dropdown-item"  [routerLink]="['/catalogo',categoria._id]">
                  {{categoria.nombre}}
                </a>
                <div class="dropdown-divider"></div>
              </div>
              <!-- <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/nosotros']">Nosotros <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/comprar']">¿Cómo comprar?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contacto']">Contactenos</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
