<div class="header_main">
  <div class="header_main-top">
    <ul class="header_main-list">
      <li>
        <a href="#">Inicia Sesión</a>
      </li>
      <li>
        <a href="#">Registrarse</a>
      </li>
    </ul>
  </div>
  <div class="header_main-bottom">
    <div class="header_main-container">
      <div class="header_main_logo">
        <a href="#" class="logo">
          <img src="assets/img/image.png" alt="">
        </a>
      </div>
      <div class="header_main-search">
        <form action="">
          <input type="search" placeholder="Buscar" class="input">
        </form>
        <i class="fas fa-search logo-buscar"></i>
      </div>
      <div class="header_carrito_main">
        <div class="header_carrito">
            <a href="#" class="header_carrito-logo"></a>
            <h5>0</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="main_menu">
    <i  (click)="mostrarBoton()" class="fas fa-bars hamburguesa"></i>
    <div class="main_menu-items">
      <ul class="menu">
        <li>Productos</li>
        <li>Nosotros</li>
        <li>¿Como comprar?</li>
        <li>Contactenos</li>
      </ul>
    </div>
  </div>
</div>
