.columna{
  max-width: 600px;
}

.boton-pedidios{
  margin-top: 20px;
  margin-bottom: 50px;
}

.boton{
  max-width: 200px;
}

#contenedor-Principal{
  margin-top: 35px;
}

.pedidos{
  font-size: 3rem;
  padding-left: 10px;
}

#contendor-titulos{
  margin-bottom: 55px;
}

/* .table-fixed tbody{
  max-width: 100%;
  height:100px;
  overflow-y:auto;
  background-color: red;

}

.table-fixed{
  width: 100%;
}

tbody{
  display:block;
} */

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

@media screen and (max-width: 780px) {

  .form-row{
    justify-content: center;
  }

  .form-inline{
    align-items: center;
  }
}
