<footer>

    <div class="container-footer-all">

        <div class="container-body">

            <div class="column1">

                <h1>Contáctenos</h1>

                <div class="row">
                    <img src="assets/img/whatsapp.png">
                    <label>+502 4298-5568</label>

                </div>
                <div class="row">
                    <img src="assets/img/facebook.png">
                    <label>Pro-Tech Guatemala</label>
                </div>
                <div class="row">
                    <img src="assets/img/twitter.png">
                    <label>@ProTechGT</label>
                </div>
                <div class="row">
                    <img src="assets/img/contact.png">
                    <label>Protech@contacto.com</label>
                </div>

            </div>

            <div class="column2">

            </div>

            <div class="column3">

                <h1>Horario de atención</h1>
                <br>
                <p>Lunes a viernes de 8:30 am a 7:pm</p>
                <p>Sábados de 9:00 am a 3:00pm</p>


            </div>

        </div>

    </div>

    <div class="container-footer">
        <div class="footer">
            <div class="copyright">
                © 2020 Todos los Derechos Reservados | <a href="">Pro-tech</a>
            </div>

            <div class="information">
                <a href="">Informacion Compañia</a> | <a href="">Terminos y Condiciones</a>
            </div>
        </div>

    </div>

</footer>