<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" id="iconosId">
                <div class="iconos">
                    <h3>Contáctenos</h3>
                    <div class="row">
                        <i class="fab fa-whatsapp"></i>
                        <label>+502 4298-5568</label>
                    </div>
                    <div class="row">
                        <i class="fab fa-facebook-square"></i>
                        <label>Pro-Tech Guatemala</label>
                    </div>
                    <div class="row">
                        <i class="fab fa-twitter"></i>
                        <label>@ProTechGT</label>
                    </div>
                    <div class="row">
                        <i class="far fa-envelope"></i>
                        <label>Protech@contacto.com</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="contenedor-horario">
                <div class="contenedor">
                    <h3>Horario de atención</h3>
                    <br>
                    <p>Lunes a Viernes de 8:30 am a 7:00 pm</p>
                    <p>Sábados de 9:00 am a 3:00 pm</p>
                </div>
            </div>
        </div>
        <div class="row container-footer">
            <div class="col-sm-6 copyright d-flex justify-content-center">
                <h5>© 2020 Todos los Derechos Reservados | <a href="">Pro-tech</a></h5>
            </div>
            <div class="col-sm-6 information d-flex justify-content-center">
                <div class="infomacion-item">
                    <a href="">Información Compañía</a> | <a href="">Términos y Condiciones</a>
                </div>
            </div>
        </div>
    </div>
</footer>