<div class="container">
    <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
        
        <div class="col-7" >
            <h3>Detalles de envio</h3><br>
            <label for="InputNombre">Nombre</label>
            <input type="Nombre" class="form-control" id="InputNombre" placeholder="Ingrese su nombre" required><br>

            <label for="InputTelefono">Telefono</label>
            <input type="Telefono" class="form-control" id="InputTelefono" placeholder="Ingrese su Telefono/Celular" required><br>

            <label for="InputNit">Nit</label>
            <input type="Nit" class="form-control" id="InputNit" placeholder="Ingrese su Nit, si no cuenta con uno coloque C/F" required><br>

            <label for="InputEmail">Correo electronico</label>
            <input type="Email" class="form-control" id="InputEmail" placeholder="Ingrese su correo electronico" required><br>

            <label for="InputDireccion">Direccion</label>
            <input type="Direccion" class="form-control" id="InputDireccion" placeholder="Ingrese su direccion" required><br>

            <label for="InputDepartamento">Departamento</label>
            <select id="InputDepartamento" class="form-control" placeholder="Seleccione un departamento" required><br>
                <option selected> Alta Verapaz</option>
                <option selected> Baja Verapaz</option>
                <option selected> Chimaltenango</option>
                <option selected> Chiquimula</option>
                <option selected> Petén</option>
                <option selected> El Progreso</option>
                <option selected> Quiché</option>
                <option selected> Escuintla</option>
                <option selected> Guatemala</option>
                <option selected> Huehuetenango</option>
                <option selected> Izabal</option>
                <option selected> Jalapa</option>
                <option selected> Jutiapa</option>
                <option selected> Quetzaltenango</option>
                <option selected> Retalhuleu</option>
                <option selected> Sacatepéquez</option>
                <option selected> San Marcos</option>
                <option selected> Santa Rosa</option>
                <option selected> Sololá</option>
                <option selected> Suchitepéquez</option>
                <option selected> Totonicapán</option>
                <option selected> Zacapa</option>

            </select><br>

            <label for="InputNota">Nota</label>
            <textarea class="form-control" name="Nota" id="InputNota" rows="3" placeholder="Anotaciones para entrega"></textarea><br>



        </div>
        <div class="col-5" style="background-color:rgb(26, 42,64);">
            <div class="blanco">
                <h3 style="align-content: center;">Orden</h3>
                <ul class="list-group">
                    <li class="list-group-item">Producto 1</li>
                    <li class="list-group-item">Producto 2</li>
                    <li class="list-group-item">Producto 3</li>
                    <li class="list-group-item">Producto 4</li>
                    <li class="list-group-item">Producto 5</li>
                  </ul>
            </div>
            <div style="margin-top: 50px;" class="blanco">
                <h3>Metodo de pago</h3>
                <select style="margin-top: 30px;" class="form-control" name="MetodoPago" id="InputMetodoPago">
                    <option selected>Pago Contra Entrega</option>
                    <option selected>Tarjeta De Debito</option>
                </select>                
            </div>

            <div class="botones">
                <button  class="btn btn-primary btn-lg btn-block" type="BotonConfirmar">Confirmar Compra</button>
                <button  class="btn btn-outline-danger btn-lg btn-block" type="BotonCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</div>
